/*Default stuff*/
    /*#region*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        font-variant-ligatures: none;
        user-select: none;
        image-rendering: auto;  /*webkit only?*/
    }

    
    :root {
        /*Grey*/
            --Grey_100: #161616;
            --Grey_90: #262626;
            --Grey_80: #393939;
            --Grey_70: #525252;
            --Grey_60: #6f6f6f;
            --Grey_50: #8d8d8d;
            --Grey_40: #a8a8a8;
            --Grey_30: #c6c6c6;
            --Grey_20: #e0e0e0;
            --Grey_10: #f4f4f4;

        /*Theme colour*/
            --Formula-1-Color: #e10600;
            --Formula-2-Color: #0090D0;
            --Formula-3-Color: #E90300;
            --Formula-E-Color: #14B7ED;
    }

    body {
        background-color: var(--Grey_100);

    }

    ol, ul, li {
        list-style-type: none;
    }


/*Scroll bar*/
    /*#region*/

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #444444;
    }

    ::-webkit-scrollbar-thumb {
        background: #666666;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #575757;
    }
    /*#endregion*/


/*#endregion*/






/*Schedule*/
/*#region*/

.Page_Wrapper {
    display: grid;
    row-gap: 20px;
    grid-template-rows: calc(60px + 180px);  /*Upper column + Bottom column*/
    height: auto;
    width: 80vw;
    margin-top: 12px;

    position: absolute;
    left: 10vw;

    color: white;
    font-size-adjust: 0.5;
}



.F1_Calendar_Wrapper {
    font-family: "F1-Bold";
}

        .F1_Calendar_Top_Wrapper {
            background-color: var(--Formula-1-Color);
        }

            .F1_logo_svg {
                height: 24px;
                width: auto;

            }



.F2_Calendar_Wrapper {
    font-family: "bebas_neue_bold";
}

        .F2_Calendar_Top_Wrapper {
            background-color: var(--Formula-2-Color);

        }

            .F2_logo_svg {
                height: 32px;
                width: auto;
            }




.F3_Calendar_Wrapper {
    font-family: "bebas_neue_bold";
}

        .F3_Calendar_Top_Wrapper {
            background-color: var(--Formula-3-Color);
        }

            .F3_logo_svg {
                height: 32px;
                width: auto;
            }






.FE_Calendar_Wrapper {
    font-family: "Formula_E-Title-Font";
}

        .FE_Calendar_Top_Wrapper {
            background-color: var(--Formula-E-Color);
        }




        

.Calendar_Row_Cell_Top_Wrapper {
    display: flex;
    position: relative;
    top: 0;  left: 0;

    height: calc(120px / 2);

    font-size: 24px;
    align-items: center;
    padding-left: 12px;
}

.Calendar_Row_Cell_Bottom_Wrapper {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: 180px;
    background-color: var(--Grey_90);
    overflow: hidden;
}

        .Calendar_Row_Cell_Bottom_Wrapper_Left_Column {
            width: 40%;
            margin: 4px 18px 4px 12px;
        }

                .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_DateCell {
                    margin-top: 2px;
                    font-family: "F1-Wide";
                    font-size: 1rem;
                    color: var(--Grey_10)
                }

                        .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_DateText {
                            display: inline-block;
                        }

                        .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_MonthText {
                            display: inline-block;
                        }


                .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_CountryCell {
                    border-top: 1px solid var(--Grey_60);

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    margin-top: 8px;
                    padding-top: 12px;
                }

                        .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_CountryText {
                            font-size: 2rem;
                            
                        }

                        .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_CountryImage {
                            height: 24px;
                            border-radius: 5px;
                        }



                .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_RoundText {
                    display: inline;
                    font-size: 0.8rem;
                    color: var(--Formula-1-Color);
                    margin-bottom: 2px;
                }

                .Calendar_Row_Cell_Bottom_Wrapper_Left_Column_RoundNumber {
                    padding-left: 6px;
                }
        




        .Calendar_Row_Cell_Bottom_Wrapper_Right_Column {
            display: inline-block;
            width: 60%;
        }

                .Calendar_Row_Cell_Bottom_Track_Image {
                    
                    align-items: right;
                    width: 80%;
                    object-fit: cover;


                    min-height: 180px;
                    min-width: 100%;
                }

/* font-family: 'Formula_E-Title-Font'; 
color: transparent; 
-webkit-text-stroke: 1px #ffffff; 
font-size: 40px; */

/*#endregion*/
/**/






/*Fonts*/
/*#region*/
    @font-face {
        /*Formula 1 Regular*/
            font-family: "F1-Regular";
            src: url("../Fonts/Formula1-Regular.ttf");
        }

    @font-face {
    /*Formula 1 Bold*/
        font-family: "F1-Bold";
        src: url("../Fonts/Formula1-Bold.ttf");
        }
        
    @font-face {
    /*Formula 1 Wide*/
        font-family: "F1-Wide";
        src: url("../Fonts/Formula1-Wide.ttf");
        }

    @font-face {
        /*Formula 1 Black*/
            font-family: "F1-Black";
            src: url("../Fonts/Formula1-Black.ttf");
            }




    @font-face {
        /*Formula 2 & Formula 3 Font*/
        font-family: "bebas_neue_regular";
        src: url("../Fonts/bebasneue_regular.woff2");
    }

    @font-face {
        /*Formula 2 & Formula 3 Bold*/
        font-family: "bebas_neue_bold";
        src: url("../Fonts/bebasneue_bold.woff2");
    }




    @font-face {
        /*Formula E Font*/
        font-family: "Formula_E-Title-Font";
        font-style: normal;
        font-weight: normal;
        src: url("../Fonts/FormulaETitle.woff2");
    }
/*#endregion*/