/*  "/'*#region*'/" and "/'*#endregion*'/"  is for VS Code  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "F1-Regular", 'Titillium Web', sans-serif;
    -webkit-tap-highlight-color: transparent;

}

:root {
    /*HTML*/
        --normal-background-color: rgba(35, 35, 35, 1);


    /*Team Colours (2022) */
        --Mercedes: #6cd3bf;
        --RedBullRacing: #1e5bc6;
        --Ferrari: #ed1c24;
        --McLaren: #f58020;
        --Alpine: #2293d1;
        --AlphaTauri: #4e7c9b;
        --AstonMartin: #2d826d;
        --Williams: #37bedd;
        --AlfaRomeoRacing: #B12039;
        --Haas: #b6babd;


    /*Classification*/
        --Gain-place: rgb(65, 214, 69);
        --Lose-place: rgb(234, 55, 57);
        --Not-Active: rgb(143, 143, 143);   /*Not on the track during testing / Free Practice */
        --Did-Not-Finish: rgb(20, 20, 20);


    /*Accident*/
        --Yellow-Flag: rgb(253, 211, 0);
        --Red-Flag: rgb(204, 25, 25);
        --Green-Flag: rgb(0, 210, 0);





    /*Inside some elements*/
        --Situation-Background-Color: transparent;
  }




/*Scroll bar*/
/*#region*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757;
}


/*#endregion*/






.display_none {
    display: none !important;
}


body{
    background-color: var(--normal-background-color);
    font-variant-ligatures: none;
    user-select: none;
    overflow-x: hidden;

}

ol.driver-position-list {
    list-style-type: none;
    padding: 8px 0 0 0px;
    
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    z-index: 0;
    background-color: #262626;
}



li.row-1-background-color {
    background-color: #262626;
}

li.row-2-background-color {
    background-color: #303030;
}

div.PageWrapper {
    display: flex;
    flex-direction: row;
    transition: border 0.2s ease-out, margin-left 0.4s cubic-bezier(0, 0.6, 0.4, 1);
    position: relative;
    top: 38px;

    height: fit-content;
    
}
        /*Incident related style*/
        div.PageWrapper_Normal {
            border: 0px solid transparent;
        }


        div.PageWrapper_Yellow_Flag {
            border-left:    10px solid rgb(253, 211, 0);
            border-top:     0px solid transparent;
            border-bottom:  0px solid transparent;
            border-right:   0px solid transparent;
        }

/* div.FlexContainer_Expanded {
    margin-left: 30vw;
}

div.FlexContainer_Collapsed {
    margin-left: 0;
} */


/* NAV */
/*#region*/

    /*Nav bar*/
        .NavBar {
            position: fixed;
            top: 0;
            left: 0;

            height: 38px;
            width: 100%;

            background-color: rgb(20, 20, 20);

            transition: 0.2s ease-out;

            z-index: 20;
            
        }

        .NavButton {
            height: 38px;
            width: 48px;
            border: none;
            appearance: none;
            position: fixed;
            top: 0;
            left: 0;

            cursor: pointer;

            background-color: transparent;
            transition: background-color 0.2s ease-out;
        }

        .NavButton:hover {
            background-color: #202020;
        }

        .NavBarHambuger { /*Please ignore the typo*/
            display: flex;

            height: 100%;
            width: fit-content;


            flex-direction: column;

            position: relative;
            top: 11px;
            left: 20px;

        }

        .NavBarHambuger span {
            background-color: rgb(122, 122, 122);
            height: 2px;
            width: 20px;
            display: block;
            position: relative;

            transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }


        .NavBarHambuger span:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }

        .NavBarHambuger span:nth-child(2) {
            top: 5px;
            transform-origin: left center;
        }

        .NavBarHambuger span:nth-child(3) {
            top: 10px;
            transform-origin: left center;
        }


        .NavBarHambuger_Open span:nth-child(1) {
            transform: rotate(45deg);
            top: 0px;
            left: 0px;
        }

        .NavBarHambuger_Open span:nth-child(2) {
            width: 0;
        }

        .NavBarHambuger_Open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 10px;
            left: 0px;
        }



    /*Nav Side Bar*/
        .NavSideBar {
            position: fixed;
            top: 38px;
            left: 0vw;
            z-index: 13;

            overflow-x: hidden;
            overflow-y: visible;
            
            background-color: rgba(22, 22, 22, 0.6);
            transition: width 0.4s cubic-bezier(0, 0.6, 0.4, 1);


            /*Trying to fix chrome mobile's vh problem*/
            min-height: -webkit-fill-available;
            height: calc((var(--vh, 1vh) * 200) - 38px);

            width: 0;
        }

        .NavSideBar_Expanded {
            width: 100vw;
        }


        .NavSideBarWrapper {
            position: fixed;
            top: 38px;
            bottom: 0;
            left: 0vw;
            z-index: 14;
            background-color: rgb(22, 22, 22); /*Bugged when using #161616*/
            list-style-type: none;

            transition: width 0.3s cubic-bezier(0, 0.4, 0.45, 1);   /*when nav bar closes*/
            overflow-x: hidden;
            overflow-y: visible;
            display: block;

            /*Trying to fix chrome mobile's vh problem*/ 
            min-height: -webkit-fill-available;
            height: calc((var(--vh, 1vh) * 200) - 38px);  
            
            width: 0vw;
        }


        .NavSideBarWrapper_Expanded {
            width: clamp(300px, 30vw, 320px);
            transition: width 0.5s cubic-bezier(0, 0.6, 0.4, 1);

        }



        /*Nav Bar Content*/
            .nav_list {
                
            }

            .nav_link {
                display: block;
                background-color: #161616;
                text-decoration: none;
                color: white;

                font-size: 15px;
                padding: 8px 0 8px 16px;

                margin-left: 12px;
            }
        
            .nav_link:hover {
                margin-left: 8px;
                background-color: #2c2c2c;
                border-left: 4px solid #4589FF;
            }







        /*Circuit Info*/
            .CircuitInformationWrapper {
                padding: 12px;
                margin: 0 0px 10px 0;
                position: relative;
                z-index: 10;

            }

            .CircuitInformation {
                height: auto;
                width: 100%;
                position: relative;

                display: flex;
                flex-wrap: nowrap;

                border-bottom: 1px solid rgb(53, 53, 53);

                padding-bottom: 10px;


                    /* border: 1px solid white; */

            }

            img.circuitImage {
                height: 50px;
                display: inline-block;

                transition: 0.1s height ease-out;

                position: relative;
                left: 0px;
                top: 0px;

                margin-right: 10px;
                    /* border: 1px solid white; */
            }

            .circuitCountryText {
                height: fit-content;
                width: fit-content;
                position: relative;


                display: inline-block;
                margin-left: 6px;
                line-height: calc(1em + 2px);

                color: white;
                font-size: 21px;
                font-family: "F1-Bold";

                font-variant-ligatures: normal;

                /* border: 1px solid white; */

                padding-right: 16px;
            }

            .circuitCountryText_OneLiner {
                top: calc((50px - 25px) / 2);
                left: 0px;

                font-size: 24px;
            }

            .circuitCountryText_TwoLiner {
                top: 0px;
                left: 0px;

                font-size: 21px;
            }

            .circuitCountryText_ThreeLiner {    /*Not really needed but wfc*/
                top: -8px;
                left: 0px;

                font-size: 21px;
            } 
        





        /*Event Counter Timer*/
            .EventCountdownTimerWrapper {
                color: #c6c6c6;
                margin-top: 14px;

                background-color: #262626;
                padding: 10px 16px 12px 16px;
                border-bottom-right-radius: 16px;

                height: auto;
                transition: 0.3s height cubic-bezier(0.075, 0.82, 0.165, 1);

                overflow: hidden;

            }

            .EventCountdownTimerColumn_Wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                column-gap: 13px;

                width: fit-content;
                color: white;
                background-color: #262626;
                font-size: 16px;
                font-family: "Titillium Web";

                margin-top: 10px;
                border-radius: 10px;

                padding-right: 8px;

                cursor: pointer;
            }

            .EventCountdownTimerSessionColumn {
                font-size: 15px;
                height: 1em;
                white-space: nowrap;
            }

            .EventCountdownTimerSessionColumn_LiveStatus {
                margin-top: 6px;
                color: #e10600;
                white-space: nowrap;

                font-size: 12px;
                font-weight: bold;
                font-family: 'F1-Regular';

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }


            .F1_live {
                position: relative;
                height: auto;
                width: auto;
            }

            .F1_live::before {
                content: '';
                position: absolute;

                top: 4px;
                left: 7px;
                font-size: 12px;

                background-color: #e10600;
                border-radius: 50%;
                height: 8px;
                width: 8px;
            }

            .F1_live::after {
                content: '';
                position: absolute;

                background-color: #e10600;

                top: 4px;
                left: 7px;

                border-radius: 50%;

                height: 8px;
                width: 8px;

                animation-name: F1_Live_animation;
                animation-duration: 0.4s;
                animation-iteration-count: infinite;
            }


                @keyframes F1_Live_animation {
                    from {
                        opacity: 0.9;
                        transform: scale(1);
                    }
                    to {
                        opacity: 0.1;
                        transform: scale(2.5);
                    }
                }


            .EventCountdownTimerColumn {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                color: #c6c6c6;
                
            }

            .EventCountdownTimerColumn_Content {
                font-size: 32px;
                margin-top: -4px;
                font-family: "F1-Regular";
                padding-right: 2px;
                color: white;
                width: auto;
            }
    
            .EventCountdownTimerColumn_Second {
                width: calc(32px * 1.5);
            }

            .EventCountdownTimerColumn_Unit {
                margin-left: 1px;
                display: inline-block;
            }




        /*Clock*/
            .clock{
                position: absolute;
                bottom: 38px;
                left: 16px;

                color: white;

                height: 38px;
                width: fit-content;
                font-size: 12px;
            }




/*#endregion*/









/*Drivers*/
/*#region*/

    /*P, interval, BEST*/
        div.Leaderboard-description-column-wrapper {
            display: grid;

            grid-template-columns: 30px     /*Position Box*/ 
                                minmax(100px, 200px)    /*Driver's name*/ 
                                minmax(80px, 200px)    /*Interval*/ 
                                minmax(30px, 50px);   /*Tyre*/ 




                                /* 220px    Driver's name*/ 
                                /* 200px    Interval*/ 
                                /* 200px;   Best lap time*/  
                                


            height: 28px;
            width: 100%;
            padding-left: 20px;
            padding-top: 2px;
        }    

        div.place_text {
            color:#646464;
            font-size: 12px;
            position: relative;
            top: 0px;
        }

        div.tyreUsing_text {
            color:#646464;
            font-size: 12px;
            position: relative;
            top: 0px;
        }

        div.Interval_text {
            color:#646464;
            font-size: 12px;
            position: relative;
            top: 0px;
        }

        div.name_text {
            opacity: 0;
        }





    /*Drivers standing*/
        .drivers-standing-column-wrapper {
            display: grid;
                                
            grid-template-columns: 30px     /*Position Box*/ 
                                minmax(100px, 200px)    /*Driver's name*/ 
                                minmax(80px, 200px)    /*Interval*/ 
                                minmax(30px, 50px);   /*Tyre*/ 


            height: 34px;
            transition: 0.2s padding-left ease-out;
            width: 100%;
            padding-left: 20px;
            overflow: hidden;
        }

        .drivers-standing-column-wrapper:hover {
            cursor: pointer;
            transition: 0.2s padding-left ease-out;
            padding-left: 30px;
        }

        .position-order {
            width: 28px;
            height: 28px;

            border-bottom-right-radius: 6px;
            line-height: 1em;

            background: white;
            font-family: "F1-Regular";
            
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            top: 1px;
        }

        .driver-name {
            display: flex;


            position: relative;
            top: 6px;
            width: 28vw;


            font-family: "F1-Bold";
            color: white;
            font-size: 1.1rem;
            line-height: 1em;
            height: 1.1rem;

            border-left: 6px solid;
            border-color: white;
            padding-left: 10px;
            margin-left: 10px;

        }






    /*Driver's position*/
        .Gain-place {
            background-color: var(--Gain-place) !important;
            background-position: 0% 0%;

        }
        
        .Gain-place-Animation {
            background: linear-gradient(135deg, var(--Gain-place) 50%, white 50%);
            background-size: 200% 200%;
            background-position: left bottom;
            
            transition: 0.1s linear;
            transition-delay: 2.9s;

            background-position: 100% 100%;
        }


        .Lose-place {
            background-color: var(--Lose-place) !important;
            background-position: 0% 0%;
        }    

        .Lose-place-Animation {
            background: linear-gradient(135deg, var(--Lose-place) 50%, white 50%);
            background-size: 200% 200%;
            background-position: left bottom;

            transition: 0.1s linear;
            transition-delay: 2.9s;
            background-position: 100% 100%;
        }





    /*Leaderboard Description*/
        /*Tyres*/
        div.TyreUsing {
            position: relative;
            top: 4px;
            left: 5px;
            width: fit-content;

        }

        img.tyreImage {
            height: 25px;
            width: auto;
            image-rendering: high-quality;

        }

        p.tyreLap {

        }


        /*Interval*/
        div.IntervalTime {
            color: rgb(214, 214, 214);
            position: relative;
            top: 8px;
            left: 0;
            font-size: 15px;
            width: fit-content;
            text-align: center;

        }




    /*Infomation to be display when hover*/
        div.HoverExpandInformationWrapper {
            position: relative;

            height: 172px;
            width: calc(100vw - 34px - 10px);

            padding: 4px 0;
            transition: all 0.2 ease-out;

            color: rgb(214, 214, 214);
        }

        div.BestLapTime_Wrapper {
            position: relative;
            top: 30px;
            left: calc(200px + 30px);
            width: fit-content;

            display: grid;
            grid-template-columns: 60px 140px;

        }

        div.BestLapTime_Text {
            color:rgb(138, 138, 138);
        }

        div.BestLapTime {

        }

/*#endregion*/




/*Lap counter*/
/*#region*/

    .lap-count-container {
        height: 60px;
        position: relative;
        top: 38px;
        margin-bottom: 38px;
        background: #000;
        /*https://stackoverflow.com/questions/35361986/css-gradient-checkerboard-pattern*/
        /*#000 for normal*/
        
        color: white;
    }

    .lap-count-container_checker_flag {
        background: repeating-conic-gradient(#464646 0% 25%, transparent 0% 50%) 
        50% / 20px 20px;
    }

    .LapCounterWrapper {
        position: absolute;
        left: 0;
        width: fit-content;
        padding-right: 16px;
        transform: translateX(0px);
        transition: transform 0.2s ease-out;
    }








    p.lap-text {
        display: inline-block;
        position: relative;
        top: 17px;

        font-family: "F1-Wide";
        font-size: 20px;

        margin-left: 20px;
        margin-right: 15px;
        padding-right: 15px;

        border-right: 1px solid rgb(152, 152, 152);
        border-bottom-right-radius: 2px 6px;
        border-top-right-radius: 2px 6px;

    }

    p.lap-count {
        display: inline-block;
        position: relative;
        top: 17px;

        font-family: "F1-Regular";
        font-size: 20px;

        margin-right: 6px;

    }

    span.dash {
        margin: 0 10px;
    }

    span.lap-completed {
        font-weight: bold;
    }


    p.Accident-text-in-lap-counter{
        font-family: "F1-Bold";
        font-size: 1.5rem;
        width: fit-content;
        opacity: 0;

        float: left;
        position: relative;
        top: calc(60px / 4);

        padding-left: 20px;
    }


        /* Incident related style

        .Accident-text-in-lap-counter_Normal {
            opacity: 0;
            width: 0;
            color: transparent;
        } */

/*#endregion*/




/*Green Flag / Yellow Flag / VSC / SC / Red flag*/
/*#region*/

    .situation {
        position: relative;
        font-family: "F1-Bold";
        font-size: 1.5rem;
        opacity: 0;
        height: 0;

        padding-top: 10px;
        padding-left: 20px;
        transition: all 0.2s ease-out;
    }

            /* Accident related styles

            .situation_Normal{
                height: 0;
                opacity: 0;
            } */


    .situation-box-expaned {
        /*For SC / VSC / Red Flag */
        /* height: 100px; */

        transition: 0.2s ease-out;
    }

    .situation-box-collasped {
        /* height: 40px; */
        padding-top: 5px;

        transition: 0.2s ease-out;
    }





    /*Upper portion*/
        .accident-flag-symbol {
            width: 43px;
            height: 20px;
            fill: black;
            margin-right: 8px;
        }

        .accident-safety-car-symbol {
            width: 78px;
            height: 21px;
            fill: var(--Yellow-Flag);
        }

        .accident-safety-car-image {
            height: 25px;
            width: 76px;
            
            opacity: 1;
            image-rendering: high-quality;
        }

        .accident-safety-car-ending-image {
            height: 25px;
            width: 76px;
            position: relative;
            left: -82px;
            
            opacity: 0;
            image-rendering: high-quality;
        }

        .VSC-symbol {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 27px;
            padding: 0px 4px 0px 4px;

            position: absolute;
            top: 13px; 
            left: 80px;
            
            display: none;

            font-family: "F1-Bold";
            border: 2px solid black;
            font-size: 19px;
        }



    /*Lower portion*/

        .accident-text {
            font-size: 1.5rem;
            font-family: "F1-Bold";
            color: black;
            opacity: 0;

            position: absolute;
            bottom: 10px;
        }

        .accident-ending-text {
            color: var(--Yellow-Flag);
            font-family: "F1-Regular";
            font-size: 2.2rem;
        }

        .shorten-lower-portion-description-text {
            color: black;

            top: 6px;
            left: 76px;
            bottom: 0;
        }



    /*Animation*/
        .Symbol_Animation {
            animation-name: Symbol;
            animation-duration: .4s;
            animation-iteration-count: 1;
        }

        @keyframes Symbol {
            0% {transform: translateY(50px); opacity: 0;}
            100% {transform: translateY(0px); opacity: 1;}
        }


        .Text_Animation {
            animation-name: Text;
            animation-duration: .4s;
            animation-iteration-count: 1;
        }

        @keyframes Text {
            0% {transform: translateY(-35px); opacity: 0;}
            100% {transform: translateY(0px); opacity: 1;}
        }

        .Fade-In {
            animation-name: Fade-in;
            animation-duration: .5s;
            animation-iteration-count: 1;
        }

        @keyframes Fade-in {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }


/*#endregion*/




/*#Colours*/
/*#region*/


/*Team Colours*/
    .Mercedes-color  { 
        border-color: var(--Mercedes); 
    }

    .Ferrari-color {
        border-color: var(--Ferrari); 
    }

    .RedBullRacing-color {
        border-color: var(--RedBullRacing); 
    }

    .Alpine-color {
        border-color: var(--Alpine); 
    }

    .Haas-color {
        border-color: var(--Haas); 
    }

    .AstonMartin-color {
        border-color: var(--AstonMartin); 
    }

    .AlphaTauri-color {
        border-color: var(--AlphaTauri); 
    }

    .McLaren-color {
        border-color: var(--McLaren); 
    }

    .AlfaRomeoRacing-color {
        border-color: var(--AlfaRomeoRacing); 
    }

    .Williams-color {
        border-color: var(--Williams); 
    }





/*Classification*/

    .Did-Not-Finish {
        opacity: 0.4;
        border-left: 6px solid transparent;
    }

    .Did-Not-Finish-background-color {
        background-color: var(--Did-Not-Finish);
    }




/*Accident*/
    .Yellow-Flag {
        color: var(--Yellow-Flag);
        
    }

    .Yellow-Flag-Background-Color {
        background-color: var(--Yellow-Flag);
    }


    .Red-Flag {
        color: var(--Red-Flag);
    }

    .Red-Flag-Background-Color {
        background-color: var(--Red-Flag);
    }

    
    .Green-Flag {
        color: var(--Green-Flag);
    }
    .Green-Flag-Background-Color {
        background-color: var(--Green-Flag);
    }
/*#endregion*/







/*Resonsive*/
/*#region*/

    @media screen and (max-width: 600px) {


    }




/*#endregion*/







/*Fonts*/
/*#region*/

    @font-face {
        /*Formula 1 Regular*/
            font-family: "F1-Regular";
            src: url("../Fonts/Formula1-Regular.ttf");
        }

    @font-face {
    /*Formula 1 Bold*/
        font-family: "F1-Bold";
        src: url("../Fonts/Formula1-Bold.ttf");
        }
        
    @font-face {
    /*Formula 1 Wide*/
        font-family: "F1-Wide";
        src: url("../Fonts/Formula1-Wide.ttf");
        }

    @font-face {
        /*Formula 1 Black*/
            font-family: "F1-Black";
            src: url("../Fonts/Formula1-Black.ttf");
            }

/*#endregion*/